# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Html-Javascript\Memory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
